body{
  background-color: lightgrey;
}
.main-head{
  text-align: center;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}
.view-user{
  background-color: lightgrey;
  padding-top: 5%;
}
.home-footer
{
  background-color: grey;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
