<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static.css/creditcss.css">

    <title>Credit Management System</title>
  </head>
  <body>
    <div class="container-fluid main-head ">
      <h1>
        Credit Management System
      </h1>
      
    </div>
    <div class="container-fluid view-user text-center">
      <button type="button" class="btn btn-success"><a href="/home/users">View All Users</a></button>
    </div>
    <footer class="home-footer">
      <div class="container-fluid text-center">
        <p>Made by <a>Rohit Singh</a> &copy; 2020 </p>
      </div>
    </footer>
  </body>
</html>